@use "../abstracts/_mixins";

.text {
    &--center {
        text-align: center;
    }
}

.layout--constrained {
    max-width: var(--bp-md);
}

.layout--center-x {
    display: flex;
    justify-content: center;
}

.layout--center-y {
    display: flex;
    align-items: center;
}

.layout--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-reset {
  @include mixins.list-reset;
}
