body {
  color: var(--color-text);
  font-family: var(--font-body);
  line-height: var(--font-line-height-md);
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  line-height: var(--font-line-height-sm);
  margin: 1em 0 0.5em;
}

h1,
h2 {
  font-weight: var(--font-bold);
  letter-spacing: -0.0125em;
}

h3,
h4,
h5,
h6 {
  font-weight: var(--font-semibold);
}

h1 {
  font-size: var(--font-4xl);
}

h2 {
  font-size: var(--font-3xl);
}

h3 {
  font-size: var(--font-2xl);
}

h4 {
  font-size: var(--font-xl);
}

h5 {
  font-size: var(--font-lg);
}

h6 {
  font-size: var(--font-md);
}

// Text
p {
  font-size: var(--font-md);
  line-height: var(--font-line-height-lg);
  margin: 0 0 var(--space-md);
}

small {
  font-size: var(--font-sm);
}

strong {
  font-weight: var(--font-bold);
}

em {
  font-style: italic;
}

// Links
a {
  color: var(--color-interactive-default);
  text-decoration: underline;
  text-decoration-thickness: 0.01em;
  text-underline-offset: 0.175em;

  &:hover {
    color: var(--color-interactive-hover);
  }

  &:focus-visible {
    color: var(--color-interactive-focus);
  }

  &:visited {
    color: var(--color-interactive-visited);
  }

  &:active {
    color: var(--color-interactive-active);
  }
}

// Code
code,
pre {
  font-family: var(--font-code);
}

code {
  display: inline;
  width: fit-content;
  background: var(--color-bg-3);
  border-radius: var(--radius-3xs);
  padding: 0 var(--space-2xs);
}

pre {
  display: block;
  margin: 0 0 var(--space-md);
  overflow: auto;
  white-space: pre;

  code {
    border-radius: var(--radius-3xs);
    display: inline-block;
    line-height: var(--font-line-height-lg);
    padding: var(--space-xs) var(--space-md);
  }
}

// Quotes
blockquote {
  border-left: 4px solid var(--color-accent-1);
  font-family: var(--font-display);
  font-size: var(--font-lg);
  font-weight: var(--font-light);
  margin: var(--space-md) 0;
  padding: var(--space-sm) var(--space-md);

  p:last-child {
    margin-bottom: 0;
  }
}

blockquote + cite {
  display: block;
  font-size: var(--font-sm);
  margin: 0 0 var(--space-lg);
}

// Miscellaneous
hr {
  background: var(--color-border);
  border: 0;
  height: 2px;
  margin: 0;
  width: 100%;
}

mark {
  background-color: var(--color-text-mark);
}

// Lists
ul,
ol {
  line-height: var(--font-line-height-lg);
  margin: 0 0 var(--space-md);
  padding-inline-start: var(--space-lg);

  > li {
    margin: var(--space-3xs) 0;
  }
}

ol {
  list-style-type: decimal;

  > li::marker {
    color: var(--color-text);
  }

  ol {
    list-style-type: lower-alpha;
    margin-bottom: var(--space-xs);

    ol {
      list-style-type: lower-roman;
    }
  }
}

ul {
  list-style-type: disc;

  > li::marker {
    color: var(--color-text-muted);
  }

  ul {
    list-style-type: circle;
    margin-bottom: var(--space-xs);

    ul {
      list-style-type: square;
    }
  }
}

